.contactform {
  grid-area: c;
}

.contactheader {
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-self: center;
  grid-area: h;
}

input,
textarea {
  width: 100%;
}

form {
  justify-self: start;
  color: white;
}

.contactwrapper {
  background-color: lightgray;
  display: grid;
  padding-top: 2%;
  padding-right: 5%;
  padding-left: 5%;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto);
  grid-template-areas:
    'h'
    'c';
}

@media (min-width: 1080px) {
  .contactwrapper {
    background-color: lightgray;
    display: grid;
    padding-right: 5%;
    padding-left: 5%;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-template-areas:
      '. h .'
      '. c .';
  }
}
