.jsTestHeading {
  padding-top: 3.5%;
  padding-bottom: 2%;
}

.hidden {
  display: none;
}

.shown {
  padding-left: 5%;
  padding-bottom: 5%;
}

.statement {
  padding-left: 5%;
  padding-bottom: 3%;
}

ul {
  margin: 0;
}

a {
  color: red;
  text-decoration: none;
}
